@model LinkShortener.Application.DTOs.Account.UpdateUserDto
@{
    ViewData["Title"] = "Update User";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Back</button>
        </div>
    </div>
</div>

<div class="row">
    <form asp-area="Admin" asp-controller="Home" asp-action="UpdateUser" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="col-md-12">
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Name :</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="FirstName">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Last Name :</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="LastName">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Phone Number :</label>
                <div class="col-sm-10">
                    <p>@Model.Mobile</p>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">IsAdmin :</label>
                <div class="col-sm-10">
                    <input class="form-check" asp-for="IsAdmin" style="width: 25px" />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 form-check-label">IsBlocked</label>
                <div class="col-sm-10">
                    <input class="form-check" asp-for="IsBlocked" style="width: 25px" />
                </div>
            </div>
            <input type="submit" value="Update" class="btn btn-warning" />
        </div>

    </form>
</div>
